validation/src/main/resources/xsd/ConformanceContext.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	elementFormDefault="qualified">

	<xs:include schemaLocation="Expressions.xsd" />

	<!-- ============================================================================================================= 
		========================= MetaData Definition ======================================= 
		============================================================================================================= -->
	<xs:simpleType name="PathType">
		<xs:annotation>
			<xs:documentation>
				Pattern: (position[instance])(.position[instance])*
				where:
				- position : the position of an element within its parent. 1
				&lt;= position &lt;= nb of children in the parent
				- instance : the
				repetition number. 1 &lt;= instance &lt;= maximum nuber of
				repetitions
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern
				value="[1-9][0-9]*\[(([1-9][0-9]*)|\*)\](\.[1-9][0-9]*\[(([1-9][0-9]*)|\*)\])*" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="CommaSeparatedStringType">
		<xs:annotation>
			<xs:documentation> A comma separated values where each value is an
				alphanumeric</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9a-zA-Z]+(,[0-9a-zA-Z]+)*" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="CommaSeparatedNumberType">
		<xs:annotation>
			<xs:documentation>A comma separated values where each value is a
				number</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="\s*(\+|\-)?\d+(\.\d+)?(\s*,\s*(\+|\-)?\d+(\.\d+)?\s*)*" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="ValueType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Number" />
			<xs:enumeration value="String" />
			<!--<xs:enumeration value="Date"/> <xs:enumeration value="Time"/> <xs:enumeration 
				value="DateTime"/> -->
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="ClassificationType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="W" />
			<xs:enumeration value="A" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="OperatorType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="EQ">
				<xs:annotation>
					<xs:documentation>Equal</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="NE">
				<xs:annotation>
					<xs:documentation>Not equal</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="GT">
				<xs:annotation>
					<xs:documentation>Greater than</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="LT">
				<xs:annotation>
					<xs:documentation>Lower than</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="GE">
				<xs:annotation>
					<xs:documentation>Greater or equal</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="LE">
				<xs:annotation>
					<xs:documentation>Lower or equal</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>

	<!-- ============================================================================================================= 
		========================= Generic Expressions ======================================= 
		============================================================================================================= -->

	<xs:complexType name="PresenceType">
		<xs:attribute name="Path" type="PathType" use="required" />
	</xs:complexType>

	<xs:complexType name="PathValueType">
		<xs:attribute name="Path1" type="PathType" use="required" />
		<xs:attribute name="Operator" type="OperatorType" use="required" />
		<xs:attribute name="Path2" type="PathType" use="required" />
	</xs:complexType>

	<!-- <xs:complexType name="PluginType"> <xs:sequence> <xs:element name="Params"> 
		<xs:complexType> <xs:sequence> <xs:any processContents="lax" minOccurs="0"/> 
		</xs:sequence> </xs:complexType> </xs:element> </xs:sequence> <xs:attribute 
		name="UUID" type="NonEmptyString" use="required"/> </xs:complexType> -->

	<!-- ============================================================================================================= 
		========================= Value Expressions ======================================= 
		============================================================================================================= -->

	<xs:complexType name="PlainTextType">
		<xs:attribute name="Path" type="PathType" use="required" />
		<xs:attribute name="Text" type="NonEmptyString" use="required" />
		<xs:attribute name="IgnoreCase" type="xs:boolean" use="required" />
		<xs:attribute name="AtLeastOnce" type="xs:boolean" use="optional" />
	</xs:complexType>

	<xs:complexType name="FormatType">
		<xs:attribute name="Path" type="PathType" use="required" />
		<xs:attribute name="Regex" type="NonEmptyString" use="required" />
		<xs:attribute name="AtLeastOnce" type="xs:boolean" use="optional" />
	</xs:complexType>

	<xs:complexType name="NumberListType">
		<xs:attribute name="Path" type="PathType" use="required" />
		<xs:attribute name="CSV" type="CommaSeparatedNumberType"
			use="required" />
		<xs:attribute name="AtLeastOnce" type="xs:boolean" use="optional" />
	</xs:complexType>

	<xs:complexType name="StringListType">
		<xs:attribute name="Path" type="PathType" use="required" />
		<xs:attribute name="CSV" type="CommaSeparatedStringType"
			use="required" />
		<xs:attribute name="AtLeastOnce" type="xs:boolean" use="optional" />
	</xs:complexType>

	<xs:complexType name="SimpleValueType">
		<xs:attribute name="Path" type="PathType" use="required" />
		<xs:attribute name="Operator" type="OperatorType" use="required" />
		<xs:attribute name="Value" type="NonEmptyString" use="required" />
		<xs:attribute name="Type" type="ValueType" default="String" />
	</xs:complexType>

	<xs:complexType name="ValueSetType">
		<xs:attribute name="Path" type="PathType" use="required" />
		<xs:attribute name="ValueSetID" type="xs:string" use="required" />
		<xs:attribute name="BindingStrength" type="BindingStrengthType"
			use="required" />
		<xs:attribute name="BindingLocation" type="BindingLocationType"
			use="required" />
	</xs:complexType>

	<!-- ============================================================================================================= 
		========================= Combination Expressions ======================================= 
		============================================================================================================= -->

	<xs:complexType name="NOTType">
		<xs:group ref="AnyExpressionGroup" minOccurs="1" maxOccurs="1" />
	</xs:complexType>

	<xs:complexType name="ANDType">
		<xs:group ref="AnyExpressionGroup" minOccurs="2" maxOccurs="2" />
	</xs:complexType>

	<xs:complexType name="ORType">
		<xs:group ref="AnyExpressionGroup" minOccurs="2" maxOccurs="2" />
	</xs:complexType>

	<xs:complexType name="XORType">
		<xs:group ref="AnyExpressionGroup" minOccurs="2" maxOccurs="2" />
	</xs:complexType>

	<xs:complexType name="ImplyType">
		<xs:group ref="AnyExpressionGroup" minOccurs="2" maxOccurs="2" />
	</xs:complexType>

	<xs:complexType name="ForallType">
		<xs:group ref="AnyExpressionGroup" minOccurs="2" maxOccurs="unbounded" />
	</xs:complexType>

	<xs:complexType name="ExistType">
		<xs:group ref="AnyExpressionGroup" minOccurs="2" maxOccurs="unbounded" />
	</xs:complexType>

	<xs:complexType name="PluginType">
		<xs:attribute name="QualifiedClassName" type="NonEmptyString"
			use="required" />
	</xs:complexType>

	<!-- ============================================================================================================= 
		========================= HL7 v2x Specific ======================================= 
		============================================================================================================= -->

	<xs:complexType name="SetIdType">
		<xs:attribute name="Path" type="PathType" use="required" />
	</xs:complexType>

	<xs:complexType name="IZSetIdType">
		<xs:attribute name="Parent" type="PathType" use="required" />
		<xs:attribute name="Element" type="PathType" use="required" />
	</xs:complexType>

	<xs:group name="ExpressionGroup">
		<xs:choice>
			<xs:element name="Presence" type="PresenceType" minOccurs="1"
				maxOccurs="1" />
			<xs:element name="PathValue" type="PathValueType"
				minOccurs="1" maxOccurs="1" />
			<xs:element name="PlainText" type="PlainTextType"
				minOccurs="1" maxOccurs="1" />
			<xs:element name="Format" type="FormatType" minOccurs="1"
				maxOccurs="1" />
			<xs:element name="NumberList" type="NumberListType"
				minOccurs="1" maxOccurs="1" />
			<xs:element name="StringList" type="StringListType"
				minOccurs="1" maxOccurs="1" />
			<xs:element name="SimpleValue" type="SimpleValueType"
				minOccurs="1" maxOccurs="1" />
			<xs:element name="ValueSet" type="ValueSetType" minOccurs="1"
				maxOccurs="1" />
			<xs:element name="NOT" type="NOTType" minOccurs="1"
				maxOccurs="1" />
			<xs:element name="AND" type="ANDType" minOccurs="1"
				maxOccurs="1" />
			<xs:element name="OR" type="ORType" minOccurs="1"
				maxOccurs="1" />
		</xs:choice>
	</xs:group>

	<xs:group name="AnyExpressionGroup">
		<xs:choice>
			<xs:group ref="ExpressionGroup" />
			<xs:element name="XOR" type="XORType" minOccurs="1"
				maxOccurs="1" />
			<xs:element name="IMPLY" type="ImplyType" minOccurs="1"
				maxOccurs="1" />
			<xs:element name="FORALL" type="ForallType" minOccurs="1"
				maxOccurs="1" />
			<xs:element name="EXIST" type="ExistType" minOccurs="1"
				maxOccurs="1" />
			<xs:element name="SetID" type="SetIdType" minOccurs="1"
				maxOccurs="1" />
			<xs:element name="IZSetID" type="IZSetIdType" minOccurs="1"
				maxOccurs="1" />
			<xs:element name="Plugin" type="PluginType" minOccurs="1"
				maxOccurs="1" />
		</xs:choice>
	</xs:group>
	
	<xs:simpleType name="PositiveInteger">
		<xs:restriction base="xs:integer">
			<xs:pattern value="[0-9]+" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="IntegerOrStar">
		<xs:restriction base="xs:string">
			<xs:pattern value="\d+|\*"></xs:pattern>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="NonEmptyString">
		<xs:restriction base="xs:string">
			<xs:pattern value="[\s]*[\S].*" /> <!-- \S is the negation of \s -->
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="BindingStrengthType">
		<xs:restriction base="NonEmptyString">
			<xs:enumeration value="R" /> <!-- Required -->
			<xs:enumeration value="S" /> <!-- Suggested -->
			<xs:enumeration value="U" /> <!-- Undetermined -->
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="BindingLocationType">
		<xs:restriction base="NonEmptyString">
			<xs:pattern value="(\d+)|(\d+:\d+)" />
		</xs:restriction>
	</xs:simpleType>
	
	<xs:complexType name="Author">
		<xs:attribute name="FirstName" type="NonEmptyString" use="required" />
		<xs:attribute name="LastName" type="NonEmptyString" use="required" />
		<xs:attribute name="Email" type="NonEmptyString" use="optional" />
	</xs:complexType>

	<xs:complexType name="StandardType">
		<xs:sequence>
			<xs:sequence>
				<xs:element name="Description" minOccurs="0" maxOccurs="1" />
			</xs:sequence>
		</xs:sequence>
		<xs:attribute name="ID" type="NonEmptyString" use="required" />
		<xs:attribute name="Version" type="NonEmptyString" use="required" />
		<xs:attribute name="Date" type="NonEmptyString" use="optional" />
		<xs:attribute name="URL" type="NonEmptyString" use="optional" />
	</xs:complexType>

	<xs:complexType name="MetaDataType">
		<xs:attribute name="Name" type="NonEmptyString" use="required">
			<xs:annotation>
				<xs:documentation>Name of this Constraints ex) Constraints for
					VXU-Z22/_Profile.xml</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="OrgName" type="NonEmptyString" use="required">
			<xs:annotation>
				<xs:documentation>Organization Name of this Constraints ex) NIST
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="Version" type="NonEmptyString" use="required">
			<xs:annotation>
				<xs:documentation>Version of this Constraints ex) 1.0.0
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="Date" type="NonEmptyString" use="required">
			<xs:annotation>
				<xs:documentation>Date of this Constraints ex) YYYYMMDD
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="SpecificationName" type="xs:string"
			use="optional">
			<xs:annotation>
				<xs:documentation>Provides a name that clearly and concisely defines
					the Constraints being described.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="Status" use="optional">
			<xs:annotation>
				<xs:documentation>Status of this Constraints, as assigned by the
					author. There is no prescribed status scheme at this time. Possible
					values might include: 'Draft', 'Active', 'Superceded', 'Withdrawn'
				</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="Draft" />
					<xs:enumeration value="Active" />
					<xs:enumeration value="Superceded" />
					<xs:enumeration value="Withdrawn" />
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="Topics" type="NonEmptyString" use="optional">
			<xs:annotation>
				<xs:documentation>This provides a list of key-words that relate to
					the Constraints and that may be useful in valueset searches.
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>

	<xs:complexType name="ReferenceType">
		<xs:attribute name="Chapter" type="NonEmptyString" use="optional" />
		<xs:attribute name="Section" type="NonEmptyString" use="optional" />
		<xs:attribute name="Page" type="PositiveInteger" use="optional" />
		<xs:attribute name="URL" type="NonEmptyString" use="optional" />
		<!-- The following have been added to provide more meta data to a constraint -->
		<xs:attribute name="Source" type="NonEmptyString" use="optional" />
		<xs:attribute name="GeneratedBy" type="NonEmptyString"
			use="optional" />
		<xs:attribute name="ReferencePath" type="NonEmptyString"
			use="optional" />
		<xs:attribute name="TestDataCategorization" type="NonEmptyString"
			use="optional" />
	</xs:complexType>

	<!-- ============================================================================================================= 
		========================= Constraint Definition ======================================= 
		============================================================================================================= -->

	<xs:complexType name="AssertionType">
		<xs:group ref="AnyExpressionGroup" minOccurs="1" maxOccurs="1" />
	</xs:complexType>

	<xs:complexType name="ConstraintType">
		<xs:sequence>
			<xs:element name="Reference" type="ReferenceType"
				minOccurs="0" maxOccurs="1" />
			<xs:element name="Description" type="NonEmptyString"
				minOccurs="1" maxOccurs="1" />
			<xs:element name="Assertion" type="AssertionType"
				minOccurs="1" maxOccurs="1" />
		</xs:sequence>
		<xs:attribute name="ID" type="NonEmptyString" use="required" />
		<xs:attribute name="Classification" type="ClassificationType"
			use="optional" />
		<xs:attribute name="Target" type="PathType" use="optional" />
	</xs:complexType>

	<xs:complexType name="PredicateType">
		<xs:sequence>
			<xs:element name="Reference" type="ReferenceType"
				minOccurs="0" maxOccurs="1" />
			<xs:element name="Description" type="NonEmptyString"
				minOccurs="1" maxOccurs="1" />
			<xs:element name="Condition" type="AssertionType"
				minOccurs="1" maxOccurs="1" />
		</xs:sequence>
		<xs:attribute name="ID" type="NonEmptyString" use="optional" />
		<xs:attribute name="Target" type="PathType" use="required" />
		<xs:attribute name="TrueUsage" type="UsageType" use="required" />
		<xs:attribute name="FalseUsage" type="UsageType" use="required" />
	</xs:complexType>

	<xs:simpleType name="UsageType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="R" />
			<xs:enumeration value="RE" />
			<xs:enumeration value="X" />
			<xs:enumeration value="O" />
		</xs:restriction>
	</xs:simpleType>

	<!-- ============================================================================================================= 
		========================= Context Definition ======================================= 
		============================================================================================================= -->

	<!-- Constraint context -->
	<xs:complexType name="ContextType">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element name="ByName" type="ByNameContexType"
				minOccurs="1" maxOccurs="1" />
			<xs:element name="ByID" type="ByIDContexType" minOccurs="1"
				maxOccurs="1" />
		</xs:choice>
	</xs:complexType>

	<xs:complexType name="ByNameContexType">
		<xs:sequence minOccurs="1" maxOccurs="unbounded">
			<xs:element name="Constraint" type="ConstraintType"
				minOccurs="0" maxOccurs="unbounded" />
		</xs:sequence>
		<xs:attribute name="Name" type="NonEmptyString" use="required" />
	</xs:complexType>

	<xs:complexType name="ByIDContexType">
		<xs:sequence minOccurs="1" maxOccurs="unbounded">
			<xs:element name="Constraint" type="ConstraintType"
				minOccurs="0" maxOccurs="unbounded" />
		</xs:sequence>
		<xs:attribute name="ID" type="NonEmptyString" use="required" />
	</xs:complexType>

	<xs:complexType name="ConstraintsType">
		<xs:sequence>
			<xs:element name="Datatype" type="ContextType" minOccurs="0"
				maxOccurs="1">
				<!-- The Name attribute of a by-name context must be unique -->
				<xs:key name="DTByNameContextTypeKey">
					<xs:selector xpath="./ByName"></xs:selector>
					<xs:field xpath="@Name"></xs:field>
				</xs:key>
				<!-- The ID attribute of a by-id context must be unique -->
				<xs:key name="DTByIDContextTypeKey">
					<xs:selector xpath="./ByID"></xs:selector>
					<xs:field xpath="@ID"></xs:field>
				</xs:key>
			</xs:element>

			<xs:element name="Segment" type="ContextType" minOccurs="0"
				maxOccurs="1">
				<!-- The Name attribute of a by-name context must be unique -->
				<xs:key name="SegByNameContextTypeKey">
					<xs:selector xpath="./ByName"></xs:selector>
					<xs:field xpath="@Name"></xs:field>
				</xs:key>
				<!-- The ID attribute of a by-id context must be unique -->
				<xs:key name="SegByIDContextTypeKey">
					<xs:selector xpath="./ByID"></xs:selector>
					<xs:field xpath="@ID"></xs:field>
				</xs:key>
			</xs:element>

			<xs:element name="Group" type="ContextType" minOccurs="0"
				maxOccurs="1">
				<!-- The Name attribute of a by-name context must be unique -->
				<xs:key name="GroupByNameContextTypeKey">
					<xs:selector xpath="./ByName"></xs:selector>
					<xs:field xpath="@Name"></xs:field>
				</xs:key>
				<!-- The ID attribute of a by-id context must be unique -->
				<xs:key name="GroupByIDContextTypeKey">
					<xs:selector xpath="./ByID"></xs:selector>
					<xs:field xpath="@ID"></xs:field>
				</xs:key>
			</xs:element>

			<xs:element name="Message" type="ContextType" minOccurs="0"
				maxOccurs="1">
				<!-- The Name attribute of a by-name context must be unique -->
				<xs:key name="MessageByNameContextTypeKey">
					<xs:selector xpath="./ByName"></xs:selector>
					<xs:field xpath="@Name"></xs:field>
				</xs:key>
				<!-- The ID attribute of a by-id context must be unique -->
				<xs:key name="MessageByIDContextTypeKey">
					<xs:selector xpath="./ByID"></xs:selector>
					<xs:field xpath="@ID"></xs:field>
				</xs:key>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<!-- Predicate context -->
	<xs:complexType name="PredicateContextType">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element name="ByName" type="PredicateByNameContexType"
				minOccurs="1" maxOccurs="1" />
			<xs:element name="ByID" type="PredicateByIDContexType"
				minOccurs="1" maxOccurs="1" />
		</xs:choice>
	</xs:complexType>

	<xs:complexType name="PredicateByNameContexType">
		<xs:sequence minOccurs="1" maxOccurs="unbounded">
			<xs:element name="Predicate" type="PredicateType"
				minOccurs="0" maxOccurs="unbounded" />
		</xs:sequence>
		<xs:attribute name="Name" type="NonEmptyString" use="required" />
	</xs:complexType>

	<xs:complexType name="PredicateByIDContexType">
		<xs:sequence minOccurs="1" maxOccurs="unbounded">
			<xs:element name="Predicate" type="PredicateType"
				minOccurs="0" maxOccurs="unbounded" />
		</xs:sequence>
		<xs:attribute name="ID" type="NonEmptyString" use="required" />
	</xs:complexType>

	<xs:complexType name="PredicatesType">
		<xs:sequence>

			<xs:element name="Datatype" type="PredicateContextType"
				minOccurs="0" maxOccurs="1">
				<!-- The Name attribute of a by-name context must be unique -->
				<xs:key name="PDTByNameContextTypeKey">
					<xs:selector xpath="./ByName"></xs:selector>
					<xs:field xpath="@Name"></xs:field>
				</xs:key>
				<!-- The Name attribute of a by-name context must be unique -->
				<xs:key name="PDTByIDContextTypeKey">
					<xs:selector xpath="./ByID"></xs:selector>
					<xs:field xpath="@ID"></xs:field>
				</xs:key>
			</xs:element>

			<xs:element name="Segment" type="PredicateContextType"
				minOccurs="0" maxOccurs="1">
				<!-- The Name attribute of a by-name context must be unique -->
				<xs:key name="PSegByNameContextTypeKey">
					<xs:selector xpath="./ByName"></xs:selector>
					<xs:field xpath="@Name"></xs:field>
				</xs:key>
				<!-- The Name attribute of a by-name context must be unique -->
				<xs:key name="PSegByIDContextTypeKey">
					<xs:selector xpath="./ByID"></xs:selector>
					<xs:field xpath="@ID"></xs:field>
				</xs:key>
			</xs:element>

			<xs:element name="Group" type="PredicateContextType"
				minOccurs="0" maxOccurs="1">
				<!-- The Name attribute of a by-name context must be unique -->
				<xs:key name="PGroupByNameContextTypeKey">
					<xs:selector xpath="./ByName"></xs:selector>
					<xs:field xpath="@Name"></xs:field>
				</xs:key>
				<!-- The Name attribute of a by-name context must be unique -->
				<xs:key name="PGroupByIDContextTypeKey">
					<xs:selector xpath="./ByID"></xs:selector>
					<xs:field xpath="@ID"></xs:field>
				</xs:key>
			</xs:element>

			<xs:element name="Message" type="PredicateContextType"
				minOccurs="0" maxOccurs="1">
				<!-- The Name attribute of a by-name context must be unique -->
				<xs:key name="PMessageByNameContextTypeKey">
					<xs:selector xpath="./ByName"></xs:selector>
					<xs:field xpath="@Name"></xs:field>
				</xs:key>
				<!-- The Name attribute of a by-name context must be unique -->
				<xs:key name="PMessageByIDContextTypeKey">
					<xs:selector xpath="./ByID"></xs:selector>
					<xs:field xpath="@ID"></xs:field>
				</xs:key>
			</xs:element>

		</xs:sequence>
	</xs:complexType>

	<!-- ============================================================================================================= 
		========================= Conformance Context Definition ======================================= 
		============================================================================================================= -->


	<xs:complexType name="ConformanceContextType">
		<xs:sequence>
			<xs:element name="MetaData" type="MetaDataType" minOccurs="1"
				maxOccurs="1" />
			<xs:element name="Predicates" type="PredicatesType"
				minOccurs="0" maxOccurs="1" />
			<xs:element name="Constraints" type="ConstraintsType"
				minOccurs="0" maxOccurs="1" />
		</xs:sequence>
		<xs:attribute name="UUID" type="NonEmptyString" use="required" />
	</xs:complexType>

	<xs:element name="ConformanceContext" type="ConformanceContextType">
		<!-- The context type must be unique -->
		<!--<xs:key name="ContextTypeKey"> <xs:selector xpath="./Context"></xs:selector> 
			<xs:field xpath="@Type"></xs:field> </xs:key> -->
	</xs:element>

</xs:schema>
